* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding: 15px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.logo {
  margin-right: 50px;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
}
#toggler,
.navbar label {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu { 
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}